.nav {
  display: none;
}

@media (max-width: 768px) {
  .nav {
    display: block;
  }

  .nav__button_icon {
    border: none;
    background: none;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
  }
}
