@media (max-width: 1024px) {
    .titulo-topo {
        top: 30%;
    }
    .titulo-topo h1 {
        letter-spacing: 0.5rem;
    }
    .conteiner-titulo-transformar, .conteiner-descricao, .conteiner-botao {
        width: min(60%, 40rem);
    }
    .conteiner-titulo-publico {
        width: min(60%, 40rem);
    }
    .conteiner-titulo-descricao-design, .conteiner-titulo-descricao-fotografia {
        gap: 1rem;
    }
    .descricao-design {
        line-height: 2.1rem;
    }
    .descricao-fotografia {
        line-height: 2.1rem;
    }
}
@media (max-width: 768px) {
    .menu {
        flex-direction: column;
        justify-content: center;
        position: absolute;
        z-index: 8;
        width: 35%;
        height: 24rem;
        top: 8rem;
        right: 3rem;
        background: #ffffff;
        visibility: hidden;
        overflow-y: hidden;
    }
    #nav.aberto .menu {
        visibility: visible;
        overflow-y: auto;
    }
    #botao-menu-mobile {
        display: block;
        padding: 1rem;
        border: none;
        background: none;
    }
    .menu li a {
        font-size: 1.8rem;
        color: #5a636c;
    }
    .menu .contato {
        padding: 1.5rem 2rem;
        background-color: #fad400;
        transition: none;
    }
    #hamburger {
        font-size: 2.5rem;
        color: #ffffff;
    }
    .titulo-topo h1 {
        text-align: center;
    }
    .transformar {
        flex-direction: column-reverse;
        text-align: center;
    }
    .imagem-ovo {
        width: 100%;
    }
    .sobre-marca {
        width: 100%;
        padding: 7rem 0;
    }
    .conteiner-titulo-transformar, .conteiner-descricao, .conteiner-botao {
        width: min(80%, 40rem);
    }
    .publico {
        flex-direction: column;
        text-align: center;
    }
    .imagem-taca {
        width: 100%;
    }
    .sobre-publico {
        width: 100%;
        padding: 7rem 0;
    }
    .conteiner-titulo-publico {
        width: min(80%, 40rem);
    }
    .conteiner-design-fotografia {
        flex-direction: column;
    }
    .descricao-design, .descricao-fotografia {
        font-size: clamp(1.4rem, 2vw, 1.6rem);
        line-height: 2.5rem;
    }
}
@media (max-width: 480px) {
    .cabecalho {
        padding: 2rem 1.5rem;
    }
    .menu {
        width: 50%;
        right: 1.5rem;
    }
    .imagem-seta {
        top: 65%;
        width: 8%;
    }
    .opiniao-clientes {
        width: 30rem;
    }
    .galeria-imagens {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}
@media (max-width: 320px) {
    .menu {
        right: 1rem;
    }
    .titulo-design {
        font-size: 2rem;
    }
}