@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fraunces:wght@700;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

:root {
  --btn-bg-red: #fe7867;
  --btn-bg-yellow: #fad400;
  --txt-graphic-design: #25564b;
  --txt-photography: #19536b;
  --bg-footer: #93d3c3;
  --txt-footer: #529687;
  --txt-color: #23303e;
  --dim-gray: #737373;
  --color-title-client: #a7abae;
  --txt-opinion-client: #5a636c;
}

img {
  width: 100%;
  height: auto;
}
